<%- include("partials/header.ejs") %>

<section class="aboutThisWebsite">

    <pre>
        
        
        <h1>Hi, I'm a Swiftie!

                I created this website because I love singing Taylor Swift's music
            and playing a guitar with it. I wanted to create a website that will
            show Lyrics and also chords.  </h1>
        
        </pre>
</section>







<%- include("partials/footer.ejs") %>
