<%- include("partials/header.ejs") %>



    <section class="topHead">
    <h1>WELCOME TO TAYLOR SWIFT COMPILATION</h1>
    </section>

    <section class="album-selection">
        <ul>
            <li class="tsAlbum" id="selfTitled"><a  href="/taylor-swift">Taylor Swift</a></li>
            <li class="tsAlbum" id="fearless"><a  href="/fearless">Fearless (Taylor’s Version)</a></li>
            <li class="tsAlbum" id="speakNow"><a  href="/speak-now">Speak Now (Taylor’s Version)</a></li>
            <li class="tsAlbum" id="red"><a  href="/red">Red (Taylor’s Version)</a></li>
            <li class="tsAlbum" id="nineteen89"><a  href="/1989">1989 (Taylor’s Version)</a></li>
            <li class="tsAlbum" id="reputation"><a  href="/reputation">Reputation (2017)</a></li>
            <li class="tsAlbum" id="lover"><a  href="/lover">Lover</a></li>
            <li class="tsAlbum" id="folklore"><a  href="/folklore">folklore</a></li>
            <li class="tsAlbum" id="evermore"><a  href="/evermore">evermore</a></li>
            <li class="tsAlbum" id="midnights"><a  href="/midnights">Midnights</a></li>
            
            
            
            
            
            
            

        </ul>

    </section>
    
<%- include("partials/footer.ejs") %>



